body {
	background: #4fc3f7;
	color: #fff;
}

#page-2 {
	background: #6cc88a;
}

.pageload-overlay svg path {
	fill: #fff;
}

.pageload-overlay::after {
	background: #6cc88a;
}

.pageload-overlay::before {
	background: #fc0;
}
