<nav class="navside" id="menu-design">
  <h3><a href="/tupi-docs/docs/principles/">Design</a></h3>
  <ul>
    <li><a href="item-blank.html">Item de exemplo</a></li>
  </ul>
</nav>

<nav class="navside" id="menu-code">
  <h3><a href="/tupi-docs/docs/principles/">Código</a></h3>
  <ul>
    <li><a href="spaces.html">Espaços</a></li>
    <li><a href="comments.html">Comentários</a></li>
    <li><a href="formatting.html">Formatação</a></li>
    <li><a href="declaration-order.html">Ordem de Declaração</a></li>
    <li><a href="organization.html">Organização dos Arquivos</a></li>
    <li><a href="class-and-variables.html">Classes e Variáveis</a></li>
    <li><a href="exceptions.html">Exceções</a></li>
  </ul>
</nav>
