/**
* Variables
* --------------------------------------------------
* Variables of the project
*/


// Colors
$principles:       #fc0;
$components:       #fc0;
$styles:           #fc0;
$base:             #fc0;
