/**
* Variables
* --------------------------------------------------
* Variables of the project
*/


// Colors
$principles-color:       #01afec;
$components-color:       #e34127;
$styles-color:           #6eb24a;
$base-color:             #feda0d;
