/**
* Variables
* --------------------------------------------------
* Variables of the project
*/
.gray-darker {
  color: #222222; }

.gray-dark {
  color: #333333; }

.gray {
  color: #555555; }

.gray-light {
  color: #777777; }

.gray-lighter {
  color: #eeeeee; }

.brand-white {
  color: #fff; }

.brand-primary {
  color: #2d84b8; }

.brand-primary-light {
  color: #308bc2; }

.brand-success {
  color: #00a182; }

.brand-success-light {
  color: #00ae8c; }

.brand-info {
  color: #5bc0de; }

.brand-info-light {
  color: #66c4e0; }

.brand-warning {
  color: #f9ae31; }

.brand-warning-light {
  color: #f9b33d; }

.brand-danger {
  color: #cd0102; }

.brand-danger-light {
  color: #da0102; }

.brand-cool {
  color: #8356AB; }

.brand-cool-light {
  color: #895faf; }

/**
* Scaffold
* --------------------------------------------------
* Scaffold of application
*/
* {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%; }

body {
  font-family: 'Lato', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 15px;
  background: url(../../assets/img/bg.jpg); }

a, a:hover {
  text-decoration: none; }

.limit {
  max-width: 900px;
  margin: 0 auto; }

header {
  padding: 40px 0 100px;
  overflow: hidden;
  color: #314e5a;
  position: relative; }
  header .limit {
    position: relative;
    overflow: hidden; }
  header h1 a {
    color: #314e5a;
    text-decoration: none; }
  header h1 img {
    max-width: 100%; }
  header h1 small {
    float: right;
    font-size: 16px;
    font-weight: 300;
    padding: 20px 0 0;
    opacity: 0.8; }
  header h1.title {
    font-weight: 500;
    max-width: 310px;
    float: left; }
  header h1.logo {
    max-width: 310px;
    float: left; }

.btn {
  background: #01afec;
  border-radius: 3px;
  color: #FFF;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 20px auto 0;
  width: 180px;
  display: block;
  text-align: center;
  line-height: 20px; }
  .btn:hover {
    opacity: 0.9; }

/**
* Components
* --------------------------------------------------
* Components of application
*/
/**
* Sidebar
* --------------------------------------------------
*/
.sidebar {
  float: left;
  width: 225px;
  margin-right: 20px;
  position: relative;
  top: -70px; }

/**
* Navside
* --------------------------------------------------
*/
.navside {
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  clear: left;
  width: 225px;
  position: relative;
  top: -70px; }
  .navside h3 {
    text-transform: uppercase;
    cursor: default;
    background: #aec2cc;
    margin-top: 0;
    margin-bottom: 0; }
    .navside h3 a {
      color: #fff;
      font-size: 14px;
      text-decoration: none;
      padding: 15px 20px;
      display: block; }
  .navside li {
    list-style: none; }
    .navside li a {
      background: #eff4f7;
      display: block;
      padding: 15px 20px;
      font-size: 14px;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.7);
      margin-top: 2px; }
      .navside li a:hover {
        background: #fff;
        color: rgba(0, 0, 0, 0.9); }

/**
* Box
* --------------------------------------------------
*/
.box {
  display: inline-block;
  width: 48.3%;
  text-align: center;
  margin-right: 3%;
  margin-bottom: 30px;
  padding: 0 0 60px 0;
  vertical-align: top;
  background: #c7d6e0; }
  .box:nth-child(even) {
    margin-right: 0; }
  .box p {
    font-family: 'Open Sans', sans-serif;
    height: 60px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    padding: 30px 20px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 300; }
  .box a {
    text-decoration: none; }
  .box h1 {
    font-size: 1em;
    font-weight: 300;
    text-align: center !important;
    float: none; }
  .box .icons-outline {
    font-size: 30px; }
  .box .box-header {
    height: 160px;
    text-align: center;
    padding: 20px 0;
    font-weight: 300;
    font-size: 2.25em;
    background: #fff;
    line-height: 0; }
    .box .box-header h1 {
      border: none !important;
      font-weight: bold;
      font-size: 32px;
      margin: 0;
      line-height: 1.5em; }
  .box.principles-box .box-header {
    background: #eff4f7;
    border-top: 5px solid #01afec; }
    .box.principles-box .box-header h1 {
      color: #01afec; }
  .box.principles-box .fa-circle {
    color: #01afec; }
  .box.principles-box:hover .box-header {
    background: #01afec;
    border-top: 5px solid #019cd3; }
    .box.principles-box:hover .box-header h1 {
      color: #fff; }
  .box.principles-box:hover .fa-circle {
    color: #019cd3; }
  .box.components-box .box-header {
    background: #eff4f7;
    border-top: 5px solid #e34127; }
    .box.components-box .box-header h1 {
      color: #e34127; }
  .box.components-box .fa-circle {
    color: #e34127; }
  .box.components-box:hover .box-header {
    background: #e34127;
    border-top: 5px solid #d5351c; }
    .box.components-box:hover .box-header h1 {
      color: #fff; }
  .box.components-box:hover .fa-circle {
    color: #d5351c; }
  .box.styles-box .box-header {
    background: #eff4f7;
    border-top: 5px solid #6eb24a; }
    .box.styles-box .box-header h1 {
      color: #6eb24a; }
  .box.styles-box .fa-circle {
    color: #6eb24a; }
  .box.styles-box:hover .box-header {
    background: #6eb24a;
    border-top: 5px solid #63a043; }
    .box.styles-box:hover .box-header h1 {
      color: #fff; }
  .box.styles-box:hover .fa-circle {
    color: #63a043; }
  .box.base-box .box-header {
    background: #eff4f7;
    border-top: 5px solid #feda0d; }
    .box.base-box .box-header h1 {
      color: #feda0d; }
  .box.base-box .fa-circle {
    color: #feda0d; }
  .box.base-box:hover .box-header {
    background: #feda0d;
    border-top: 5px solid #f1cd01; }
  .box.base-box:hover h1 {
    color: #fff; }
  .box.base-box:hover .fa-circle {
    color: #f1cd01; }

.btn-principles {
  background: #01afec; }

.btn-components {
  background: #e34127; }

.btn-styles {
  background: #6eb24a; }

.btn-base {
  background: #feda0d; }

/**
* Tabs
* --------------------------------------------------
*/
.tabs, #tabs--blank-spaces, #tabs--formatting, #tabs--comments, #tabs--exceptions, #tabs--declaration-order, #tabs--class-and-variables, #tabs--typography, #tabs--grid, #tabs--buttons, #tabs--forms, #tabs--icons, #tabs--components-alerts, #tabs--components-collapse-simple, #tabs--components-collapse-accordion, #tabs--components-tooltips, #tabs--components-tabs, #tabs--components-dropdowns, #tabs--components-carousel, #tabs--styles-icons, #tabs--styles-alerts, #tabs--styles-modals, #tabs--styles-forms {
  position: relative;
  margin: 65px 20px 25px 20px;
  padding-bottom: 50px; }

.tab {
  float: left; }
  .tab label {
    background: #fff;
    padding: 10px;
    margin-left: -1px;
    position: relative;
    left: 1px;
    top: -29px;
    -webkit-transition: background-color 0.17s linear;
    cursor: pointer; }
  .tab [type=radio] {
    display: none; }

.content-tab {
  position: absolute;
  top: 0;
  left: 0;
  background: #f5f8fa;
  right: 0;
  bottom: 0;
  -webkit-transition: opacity 0.6s linear;
  opacity: 0; }

[type=radio]:checked ~ label {
  background: #f5f8fa;
  z-index: 2; }

[type=radio]:checked ~ label ~ .content-tab {
  z-index: 1;
  opacity: 1; }

#tabs--blank-spaces {
  height: 270px; }

#tabs--formatting {
  height: 460px; }

#tabs--comments {
  height: 380px; }

#tabs--exceptions {
  height: 360px; }

#tabs--declaration-order {
  height: 480px; }

#tabs--class-and-variables {
  height: 420px; }

#tabs--typography {
  height: 320px; }

#tabs--grid {
  height: 250px; }

#tabs--buttons {
  height: 260px; }

#tabs--forms {
  height: 260px; }

#tabs--icons {
  height: 120px;
  margin-top: 140px; }

#tabs--components-alerts {
  height: 340px; }

#tabs--components-collapse-simple {
  height: 320px; }

#tabs--components-collapse-accordion {
  height: 940px; }

#tabs--components-tooltips {
  height: 280px; }

#tabs--components-tabs {
  height: 370px; }

#tabs--components-dropdowns {
  height: 250px; }

#tabs--components-carousel {
  height: 1050px; }

#tabs--styles-icons {
  height: 150px; }

#tabs--styles-alerts {
  height: 410px; }

#tabs--styles-modals {
  height: 670px; }

#tabs--styles-forms {
  height: 400px; }

.box-code {
  margin: 25px 20px 25px 20px;
  padding: 25px 0;
  background: #f5f8fa;
  font-weight: normal; }

.colors-demo {
  margin: 0 20px; }
  .colors-demo .color-demo {
    float: left;
    list-style: none;
    margin-right: 2%; }
    .colors-demo .color-demo .color-text {
      padding: 10px;
      font-size: 0.8em; }
  .colors-demo .color-bg {
    width: 120px;
    height: 100px; }
    .colors-demo .color-bg.principles {
      background: #01afec; }
    .colors-demo .color-bg.styles {
      background: #6eb24a; }
    .colors-demo .color-bg.base {
      background: #feda0d; }
    .colors-demo .color-bg.components {
      background: #e34127; }
    .colors-demo .color-bg.principles-dark {
      background: #0189b9; }
    .colors-demo .color-bg.principles-light {
      background: #22c5fe; }
    .colors-demo .color-bg.styles-dark {
      background: #588e3b; }
    .colors-demo .color-bg.styles-light {
      background: #8ac26d; }
    .colors-demo .color-bg.base-dark {
      background: #d7b701; }
    .colors-demo .color-bg.base-light {
      background: #fee240; }
    .colors-demo .color-bg.components-dark {
      background: #be3019; }
    .colors-demo .color-bg.components-light {
      background: #e96954; }

.box-spacing {
  padding: 0 20px; }

.btn {
  width: auto !important; }
  .btn.btn-xs {
    font-size: 13px !important;
    padding: 2px 8px; }

.form-group input, .form-group textarea {
  width: 95% !important; }
.form-group .label-sm {
  font-size: 13px; }
.form-group .label-md {
  font-size: 16px; }

.form-control.input-sm, .form-horizontal .form-group-sm .form-control {
  height: 20px !important; }
.form-control.textarea-sm {
  min-height: 80px;
  font-size: 14px; }
.form-control.textarea-md {
  min-height: 120px; }

.icons-list-rounded {
  padding: 30px 0;
  margin-bottom: 30px;
  height: 120px; }
  .icons-list-rounded .text-center {
    font-size: 30px; }

.icons-list {
  margin-left: 0; }

.text-center {
  text-align: center;
  width: 125px;
  margin: 0 10px 0 10px;
  list-style: none;
  float: left; }
  .text-center span {
    font-size: 0.85em; }

.title-icons {
  margin: 20px 0 20px 0; }

.panel {
  box-shadow: none;
  border: 1px solid #eee; }
  .panel .panel-heading {
    border-bottom: none;
    background: #eee; }
  .panel .panel-body {
    border-top: none !important; }
  .panel .panel-title {
    padding-top: 0; }

.nav-tabs {
  border: none;
  margin-bottom: 10px; }
  .nav-tabs li > a, .nav-tabs li.active a {
    border: none;
    border-radius: 3px; }
    .nav-tabs li > a:hover, .nav-tabs li > a:focus, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
      background: #fcf8e3;
      border: none; }
  .nav-tabs li.active a {
    background: #fcf8e3; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: none;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn:hover, .btn:focus {
    color: #333;
    text-decoration: none; }
  .btn:active, .btn.active {
    outline: 0;
    background-image: none; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65); }

.btn-default {
  color: #333;
  background-color: #fff; }
  .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #333;
    background-color: #e6e6e6; }
  .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    background-image: none; }
  .btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
    background-color: #fff; }
  .btn-default .badge {
    color: #fff;
    background-color: #333; }

.btn-primary {
  color: #fff;
  background-color: #2d84b8; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #23678f; }
  .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #2d84b8; }
  .btn-primary .badge {
    color: #2d84b8;
    background-color: #fff; }

.btn-success {
  color: #fff;
  background-color: #00a182; }
  .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #006e59; }
  .btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
    background-image: none; }
  .btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
    background-color: #00a182; }
  .btn-success .badge {
    color: #00a182;
    background-color: #fff; }

.btn-info {
  color: #fff;
  background-color: #5bc0de; }
  .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #31b0d5; }
  .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
    background-image: none; }
  .btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
    background-color: #5bc0de; }
  .btn-info .badge {
    color: #5bc0de;
    background-color: #fff; }

.btn-warning {
  color: #fff;
  background-color: #f9ae31; }
  .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #f09907; }
  .btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
    background-image: none; }
  .btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
    background-color: #f9ae31; }
  .btn-warning .badge {
    color: #f9ae31;
    background-color: #fff; }

.btn-danger {
  color: #fff;
  background-color: #cd0102; }
  .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #9a0102; }
  .btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
    background-image: none; }
  .btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
    background-color: #cd0102; }
  .btn-danger .badge {
    color: #cd0102;
    background-color: #fff; }

.btn-link {
  color: #2d84b8;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
  padding: 0; }
  .btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: transparent; }
  .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: transparent; }
  .btn-link:hover, .btn-link:focus {
    color: #1e587b;
    text-decoration: underline;
    background-color: transparent; }
  .btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus {
    color: #777777;
    text-decoration: none; }

.btn-search {
  color: #555555;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
  padding: 0; }
  .btn-search, .btn-search:active, .btn-search[disabled], fieldset[disabled] .btn-search {
    background-color: transparent; }
  .btn-search, .btn-search:hover, .btn-search:focus, .btn-search:active {
    border-color: transparent; }
  .btn-search:hover, .btn-search:focus {
    color: #222222;
    text-decoration: underline;
    background-color: transparent; }
  .btn-search[disabled]:hover, .btn-search[disabled]:focus, fieldset[disabled] .btn-search:hover, fieldset[disabled] .btn-search:focus {
    color: #222222;
    text-decoration: none; }

.btn-lg {
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.33;
  border-radius: 6px; }

.btn-sm {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px; }

.btn-xs {
  padding: 1px 5px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px; }

.btn-block {
  display: block;
  width: 100%; }

.btn-block + .btn-block {
  margin-top: 5px; }

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
  width: 100%; }

.close {
  font-weight: bold;
  line-height: 1;
  color: #000; }
  .close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer; }

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 22px;
  font-size: 24px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold; }

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="radio"], input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal; }

input[type="file"] {
  display: block; }

input[type="range"] {
  display: block;
  width: 100%; }

select[multiple], select[size] {
  height: auto; }

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

output {
  display: block;
  padding-top: 7px;
  font-size: 16px;
  line-height: 1.42857;
  color: #555555; }

.form-control {
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857;
  color: #555555;
  background-color: #eeeeee;
  background-image: none;
  border: 1px solid #eeeeee;
  border-radius: 4px; }
  .form-control:focus {
    border-color: #eeeeee;
    outline: 0; }
  .form-control::-moz-placeholder {
    color: #777777;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #777777; }
  .form-control::-webkit-input-placeholder {
    color: #777777; }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #777777;
    opacity: 1; }

textarea.form-control {
  height: auto; }

input[type="search"] {
  -webkit-appearance: none; }

input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
  line-height: 36px;
  line-height: 1.42857 \0; }
  input[type="date"].input-sm, .form-horizontal .form-group-sm input[type="date"].form-control, input[type="time"].input-sm, .form-horizontal .form-group-sm input[type="time"].form-control, input[type="datetime-local"].input-sm, .form-horizontal .form-group-sm input[type="datetime-local"].form-control, input[type="month"].input-sm, .form-horizontal .form-group-sm input[type="month"].form-control {
    line-height: 33px; }
  input[type="date"].input-lg, .form-horizontal .form-group-lg input[type="date"].form-control, input[type="time"].input-lg, .form-horizontal .form-group-lg input[type="time"].form-control, input[type="datetime-local"].input-lg, .form-horizontal .form-group-lg input[type="datetime-local"].form-control, input[type="month"].input-lg, .form-horizontal .form-group-lg input[type="month"].form-control {
    line-height: 49px; }

.form-group {
  margin-bottom: 15px; }

.radio, .checkbox {
  position: relative;
  display: block;
  min-height: 22px;
  margin-top: 10px;
  margin-bottom: 10px; }
  .radio label, .checkbox label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer; }

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9; }

.radio + .radio, .checkbox + .checkbox {
  margin-top: -5px; }

.radio-inline, .checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer; }

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px; }

input[type="radio"][disabled], input[type="radio"].disabled, fieldset[disabled] input[type="radio"], input[type="checkbox"][disabled], input[type="checkbox"].disabled, fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed; }

.radio-inline.disabled, fieldset[disabled] .radio-inline, .checkbox-inline.disabled, fieldset[disabled] .checkbox-inline {
  cursor: not-allowed; }

.radio.disabled label, fieldset[disabled] .radio label, .checkbox.disabled label, fieldset[disabled] .checkbox label {
  cursor: not-allowed; }

.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0; }
  .form-control-static.input-lg, .form-horizontal .form-group-lg .form-control-static.form-control, .form-control-static.input-sm, .form-horizontal .form-group-sm .form-control-static.form-control {
    padding-left: 0;
    padding-right: 0; }

.input-sm, .form-horizontal .form-group-sm .form-control {
  height: 33px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px; }

select.input-sm, .form-horizontal .form-group-sm select.form-control {
  height: 33px;
  line-height: 33px; }

textarea.input-sm, .form-horizontal .form-group-sm textarea.form-control, select[multiple].input-sm, .form-horizontal .form-group-sm select[multiple].form-control {
  height: auto; }

.input-lg, .form-horizontal .form-group-lg .form-control {
  height: 49px;
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.33;
  border-radius: 6px; }

select.input-lg, .form-horizontal .form-group-lg select.form-control {
  height: 49px;
  line-height: 49px; }

textarea.input-lg, .form-horizontal .form-group-lg textarea.form-control, select[multiple].input-lg, .form-horizontal .form-group-lg select[multiple].form-control {
  height: auto; }

.has-feedback {
  position: relative; }
  .has-feedback .form-control {
    padding-right: 45px; }

.form-control-feedback {
  position: absolute;
  top: 27px;
  right: 0;
  z-index: 2;
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center; }

.input-lg + .form-control-feedback, .form-horizontal .form-group-lg .form-control + .form-control-feedback {
  width: 49px;
  height: 49px;
  line-height: 49px; }

.input-sm + .form-control-feedback, .form-horizontal .form-group-sm .form-control + .form-control-feedback {
  width: 33px;
  height: 33px;
  line-height: 33px; }

.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline {
  color: #3c763d; }
.has-success .form-control {
  border-color: #3c763d; }
  .has-success .form-control:focus {
    border-color: #2b542c; }
.has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8; }
.has-success .form-control-feedback {
  color: #3c763d; }

.has-warning .help-block, .has-warning .control-label, .has-warning .radio, .has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline {
  color: #8a6d3b; }
.has-warning .form-control {
  border-color: #8a6d3b; }
  .has-warning .form-control:focus {
    border-color: #66512c; }
.has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3; }
.has-warning .form-control-feedback {
  color: #8a6d3b; }

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
  color: #a94442; }
.has-error .form-control {
  border-color: #a94442; }
  .has-error .form-control:focus {
    border-color: #843534; }
.has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede; }
.has-error .form-control-feedback {
  color: #a94442; }

.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0; }

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373; }

@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle; }

  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle; }

  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle; }
    .form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn, .form-inline .input-group .form-control {
      width: auto; }

  .form-inline .input-group > .form-control {
    width: 100%; }

  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle; }

  .form-inline .radio, .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle; }
    .form-inline .radio label, .form-inline .checkbox label {
      padding-left: 0; }

  .form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0; }

  .form-inline .has-feedback .form-control-feedback {
    top: 0; }
 }

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px; }
.form-horizontal .radio, .form-horizontal .checkbox {
  min-height: 29px; }
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px; }
  .form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table; }
  .form-horizontal .form-group:after {
    clear: both; }
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px; }
 }
.form-horizontal .has-feedback .form-control-feedback {
  top: 0;
  right: 15px; }
@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 14.3px; }
 }
@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px; }
 }

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 22px;
  font-size: 24px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold; }

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="radio"], input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal; }

input[type="file"] {
  display: block; }

input[type="range"] {
  display: block;
  width: 100%; }

select[multiple], select[size] {
  height: auto; }

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

output {
  display: block;
  padding-top: 7px;
  font-size: 16px;
  line-height: 1.42857;
  color: #555555; }

.form-control {
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857;
  color: #555555;
  background-color: #eeeeee;
  background-image: none;
  border: 2px solid #eeeeee;
  border-radius: 4px; }
  .form-control:focus {
    border-color: #eeeeee;
    outline: 0; }
  .form-control::-moz-placeholder {
    color: #777777;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #777777; }
  .form-control::-webkit-input-placeholder {
    color: #777777; }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #777777;
    opacity: 1; }

textarea.form-control {
  height: auto; }

input[type="search"] {
  -webkit-appearance: none; }

input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
  line-height: 36px;
  line-height: 1.42857 \0; }
  input[type="date"].input-sm, .form-horizontal .form-group-sm input[type="date"].form-control, input[type="time"].input-sm, .form-horizontal .form-group-sm input[type="time"].form-control, input[type="datetime-local"].input-sm, .form-horizontal .form-group-sm input[type="datetime-local"].form-control, input[type="month"].input-sm, .form-horizontal .form-group-sm input[type="month"].form-control {
    line-height: 33px; }
  input[type="date"].input-lg, .form-horizontal .form-group-lg input[type="date"].form-control, input[type="time"].input-lg, .form-horizontal .form-group-lg input[type="time"].form-control, input[type="datetime-local"].input-lg, .form-horizontal .form-group-lg input[type="datetime-local"].form-control, input[type="month"].input-lg, .form-horizontal .form-group-lg input[type="month"].form-control {
    line-height: 49px; }

.form-group {
  margin-bottom: 15px; }

.radio, .checkbox {
  position: relative;
  display: block;
  min-height: 22px;
  margin-top: 10px;
  margin-bottom: 10px; }
  .radio label, .checkbox label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer; }

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9; }

.radio + .radio, .checkbox + .checkbox {
  margin-top: -5px; }

.radio-inline, .checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer; }

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px; }

input[type="radio"][disabled], input[type="radio"].disabled, fieldset[disabled] input[type="radio"], input[type="checkbox"][disabled], input[type="checkbox"].disabled, fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed; }

.radio-inline.disabled, fieldset[disabled] .radio-inline, .checkbox-inline.disabled, fieldset[disabled] .checkbox-inline {
  cursor: not-allowed; }

.radio.disabled label, fieldset[disabled] .radio label, .checkbox.disabled label, fieldset[disabled] .checkbox label {
  cursor: not-allowed; }

.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0; }
  .form-control-static.input-lg, .form-horizontal .form-group-lg .form-control-static.form-control, .form-control-static.input-sm, .form-horizontal .form-group-sm .form-control-static.form-control {
    padding-left: 0;
    padding-right: 0; }

.input-sm, .form-horizontal .form-group-sm .form-control {
  height: 33px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px; }

select.input-sm, .form-horizontal .form-group-sm select.form-control {
  height: 33px;
  line-height: 33px; }

textarea.input-sm, .form-horizontal .form-group-sm textarea.form-control, select[multiple].input-sm, .form-horizontal .form-group-sm select[multiple].form-control {
  height: auto; }

.input-lg, .form-horizontal .form-group-lg .form-control {
  height: 49px;
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.33;
  border-radius: 6px; }

select.input-lg, .form-horizontal .form-group-lg select.form-control {
  height: 49px;
  line-height: 49px; }

textarea.input-lg, .form-horizontal .form-group-lg textarea.form-control, select[multiple].input-lg, .form-horizontal .form-group-lg select[multiple].form-control {
  height: auto; }

.has-feedback {
  position: relative; }
  .has-feedback .form-control {
    padding-right: 45px; }

.form-control-feedback {
  position: absolute;
  top: 27px;
  right: 0;
  z-index: 2;
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center; }

.input-lg + .form-control-feedback, .form-horizontal .form-group-lg .form-control + .form-control-feedback {
  width: 49px;
  height: 49px;
  line-height: 49px; }

.input-sm + .form-control-feedback, .form-horizontal .form-group-sm .form-control + .form-control-feedback {
  width: 33px;
  height: 33px;
  line-height: 33px; }

.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline {
  color: #3c763d; }
.has-success .form-control {
  border-color: #3c763d; }
  .has-success .form-control:focus {
    border-color: #2b542c; }
.has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8; }
.has-success .form-control-feedback {
  color: #3c763d; }

.has-warning .help-block, .has-warning .control-label, .has-warning .radio, .has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline {
  color: #8a6d3b; }
.has-warning .form-control {
  border-color: #8a6d3b; }
  .has-warning .form-control:focus {
    border-color: #66512c; }
.has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3; }
.has-warning .form-control-feedback {
  color: #8a6d3b; }

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
  color: #a94442; }
.has-error .form-control {
  border-color: #a94442; }
  .has-error .form-control:focus {
    border-color: #843534; }
.has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede; }
.has-error .form-control-feedback {
  color: #a94442; }

.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0; }

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373; }

@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle; }

  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle; }

  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle; }
    .form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn, .form-inline .input-group .form-control {
      width: auto; }

  .form-inline .input-group > .form-control {
    width: 100%; }

  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle; }

  .form-inline .radio, .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle; }
    .form-inline .radio label, .form-inline .checkbox label {
      padding-left: 0; }

  .form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0; }

  .form-inline .has-feedback .form-control-feedback {
    top: 0; }
 }

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px; }
.form-horizontal .radio, .form-horizontal .checkbox {
  min-height: 29px; }
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px; }
  .form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table; }
  .form-horizontal .form-group:after {
    clear: both; }
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px; }
 }
@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 14.3px; }
 }
@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px; }
 }

.arrow_box {
  position: relative;
  background: #f5f5f5;
  border: 1px solid #ccc; }
  .arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #f5f5f5;
    border-width: 12px;
    margin-left: 72px; }
  .arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #ccc;
    border-width: 13px;
    margin-left: 71px; }

.arrow_box-menu-services {
  position: relative;
  background: #f5f5f5;
  border: 1px solid #ccc; }
  .arrow_box-menu-services:after, .arrow_box-menu-services:before {
    bottom: 100%;
    left: 45%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .arrow_box-menu-services:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #f5f5f5;
    border-width: 12px;
    margin-left: 4px; }
  .arrow_box-menu-services:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #ccc;
    border-width: 13px;
    margin-left: 3px; }

.search-full--wrapper {
  margin: 20px 0;
  padding: 15px 0;
  clear: both;
  overflow: auto; }
  .search-full--wrapper .search-full--input {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 83.33333%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    height: 78px;
    padding: 22px 18px;
    border-radius: 4px 0 0 4px;
    font-size: 28px;
    font-weight: bold;
    opacity: 0.8; }
    @media (min-width: 1200px) {
      .search-full--wrapper .search-full--input {
        float: left;
        width: 91.66667%; } }
    @media (min-width: 992px) {
      .search-full--wrapper .search-full--input {
        float: left;
        width: 91.66667%; } }
    @media (min-width: 768px) {
      .search-full--wrapper .search-full--input {
        float: left;
        width: 91.66667%; } }
    @media (max-width: 767px) {
      .search-full--wrapper .search-full--input {
        height: 62px;
        font-size: 16px; } }
  .search-full--wrapper .search-full--btn {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 16.66667%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    height: 78px;
    padding: 16px 0;
    background: #eee;
    border: none;
    border-radius: 0 4px 4px 0;
    font-size: 38px;
    opacity: 0.8; }
    @media (min-width: 1200px) {
      .search-full--wrapper .search-full--btn {
        float: left;
        width: 8.33333%; } }
    @media (min-width: 992px) {
      .search-full--wrapper .search-full--btn {
        float: left;
        width: 8.33333%; } }
    @media (min-width: 768px) {
      .search-full--wrapper .search-full--btn {
        float: left;
        width: 8.33333%; } }
    @media (max-width: 767px) {
      .search-full--wrapper .search-full--btn {
        height: 62px;
        padding: 18px 0;
        font-size: 22px; } }

.content {
  background: #fff;
  padding: 0 0 30px;
  position: relative;
  top: -70px; }
  .content .paragraph {
    font-family: 'Open Sans', sans-serif;
    display: block;
    position: relative;
    height: auto;
    clear: both; }
  .content .header {
    background: #eff4f7;
    box-shadow: none;
    height: 90px;
    padding: 15px 0 15px 0; }
    .content .header h1.title {
      border-right: 2px solid #d9e5ed;
      margin-right: 20px;
      margin-top: 15px; }
    .content .header h2.subtitle {
      padding: 10px 0;
      margin: 0; }

article.content {
  overflow: hidden; }

.nobg {
  background: none;
  border: none; }

article h1 {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 5px;
  color: #444; }

article h2 {
  font-weight: 500;
  padding: 20px 0 10px;
  font-size: 22px;
  color: #444; }

article h3 {
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 15px;
  font-size: 18px;
  color: #444; }

article h4 {
  font-weight: normal;
  padding-top: 15px; }

article p {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.7); }

article img {
  max-width: 100%;
  display: block;
  margin: auto; }

.box li, article li {
  line-height: 23px;
  font-weight: 500;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.7); }

article p, article h1, article h2, article h3, article h4, article h5, article li {
  padding-left: 20px;
  padding-right: 20px; }

.alert p, .alert h4 {
  padding: 0; }

.alert .close span {
  font-size: 16px; }

article ul {
  margin-bottom: 20px;
  margin-left: 40px; }

article ul li {
  padding-left: 0; }

article pre {
  margin: 20px 0;
  overflow-x: auto; }

p code {
  font-weight: bold;
  font-family: courier, sans-serif; }

#questions {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: -600px;
  margin: 0 0 0 -285px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear; }

#questions:target {
  opacity: 1;
  top: 121px; }

.example {
  background: #EFEFEF;
  border: 1px solid #CCC;
  margin: 20px 0;
  padding: 25px 0; }

.example h1 {
  margin: 0;
  padding: 0 20px; }

dl {
  overflow: hidden;
  padding: 0 20px; }

dt {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  padding: 5px; }

dd {
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  margin-bottom: 20px;
  padding: 15px 20px 0px; }

dd p {
  padding-left: 0;
  padding-right: 0; }

hr {
  color: rgba(0, 0, 0, 0.15);
  margin: 20px 0; }

.footer {
  background: transparent;
  padding: 0 !important; }

.lnk-fork {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 1; }

.small-right {
  font-size: 11px;
  text-align: right;
  float: right; }

.prettyprint {
  font-size: 12px; }
